{% extends "base.html" %}
{% block content %}

   <body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
      <!-- LOADER -->
      <div id="preloader">
         <div class="loader">
            <!-- <img src="images/loader.gif" alt="#" /> -->
         </div>
      </div>
      <!-- END LOADER -->
      <div class="wrapper">
         
{% include "navmenu.html" %}

      <div id="content">
         <!-- Start header -->
         <header class="top-header">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <div class="logo_main">
                        <a href="/"><img src="static/images/home2.png" /></a>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn"><img src="static/images/menu_icon.png"></button>
                  </div>
               </div>
            </div>
         </header>
         <!-- End header -->
         <!-- Start Banner -->
         <div class="ulockd-home-slider">
            <div class="container-fluid">
               <div class="row">
                  <div class="pogoSlider" id="js-main-slider">
                     <div class="pogoSlider-slide" style="background-image:url(static/images/slider_1.jpg);">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="slide_text">
                                    <h6></h6>
                                    <h3>Homepare</h3>
                                    <h4>Your favorite home adviser </h4>
                                    <br>
                                    <!-- <a class="readmore_bt" href="about.html">Read More</a> -->
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="pogoSlider-slide" style="background-image:url(static/images/MAP.png);">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="slide_text">
                                    <h6>Want to see the MAP?</h6>
                                    <h2>What are you waiting for?</h2>
                                    <h4><b>LETS DO IT!!</b></h4>
                                    <br>
                                    <a class="readmore_bt" href="/map">Read More</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="pogoSlider-slide" style="background-image:url(static/images/Dashboard2.png);">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="slide_text">
                                    <h6>Do you need to compare two regions?</h6>
                                    <h2>We knew you will ask for it!</h2>
                                    <h4>Are you ready?</h4>
                                    <br>
                                    <a class="readmore_bt" href="/compare">Read More</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- .pogoSlider -->
               </div>
            </div>
         </div>
         <!-- End Banner -->
         <!-- section -->
         <!-- section -->
         <div class="section about_section layout_padding padding_top_0">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="full">
                        <div class="heading_main text_align_center">
                           <h2 class="margin-bottom_30"><strong class="small theme_color">Having troubles to take a decision?</strong><br>We are here so you can make a wiser decision!</h2>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                     <div class="full">
                        <div class="heading_small">
                          <h4>Hompare</h4>
                        </div>
                        <p>It`s an app thinked and designed, for those looking for the best price/value for their next home.</p>
                        <div class="heading_small">
                           <h3>How it works?.</h3>
                         </div>
                         <p>We have scraped all available Houses, Departments and Duplex from Century21 and Inmuebles 24 from all Mexico`s Country, 
                           and cross referece it to each municipality and zipcode region geostatistical information
                           so you in a single page with an amaizing dashboard or dinamic map can visualize the obtained and analyzed data.</p>
                         <div class="heading_small">
                           <h3><b> Take a decision!!</b></h3>
                         </div>
                         <p>Now it`s easier, right? having all this usefull and super important infromation in one single page it`s incredible.</p>
                         <p>But what make Homepare realy amaizing is that you can also see the vailable immovables on the map and go directly to the sellers
                           page to get more details of the immovable.  So there is no need to be jumping from page to page!!  
                        </p>
                        <h2><b>What are you waiting for??
                           Go search for your new home!!! .</b></h2> 
                     </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                     <div class="full text_align_center">
                        <img class="img-responsive" src="static/images/Mexico.png" alt="#" />   
                      </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end section -->
         
         <!-- section -->
         <div class="section about_section layout_padding padding_top_0">
            <div class="container">


            </div>
         </div>
         <!-- end section -->
         <!-- section -->
         <div class="section dark_blue_layout white_fonts layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-lg-4">
                     <div class="full">
                        <div class="heading_main text_align_left" style="margin-bottom: 0;">
                           <h2><strong class="small">Do you want to start?</strong><br> Lets go!</h2>
                        </div>
                     </div>
                  </div>
                  
               </div>
            </div>
         </div>
         <!-- end section -->
         <!-- section -->
         <div class="section about_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="full">
                        <div class="heading_main text_align_center margin-bottom_30">
                           <h2><strong class="small theme_color">Choose the way you want to see our data!</strong><br>Click on it!</h2>
                        </div>
                     </div>
                  </div>
               </div>
              <div class="row">

                <div class="col-sm-6 col-md-3 col-lg-3">
                   <div class="work_blog margin-top_30">
                      <img class="img-responsive" src="static/images/GRAPH4.png" alt="#" />
                      <div class="hover_workblog">
                          <img src="static/images/search_icon.png" alt="#" />
                      </div>
                   </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                   <div class="work_blog margin-top_30">
                      <img class="img-responsive" src="static/images/MAP4.png" alt="#" />
                      <div class="hover_workblog">
                          <img src="static/images/search_icon.png" alt="#" />
                      </div>
                   </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                   <div class="work_blog margin-top_30">
                      <img class="img-responsive" src="static/images/TDATA4.png" alt="#" />
                      <div class="hover_workblog">
                          <img src="static/images/search_icon.png" alt="#" />
                      </div>
                   </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                   <div class="work_blog margin-top_30">
                      <img class="img-responsive" src="static/images/Homepare4.png" alt="#" />
                      <div class="hover_workblog">
                          <img src="static/images/search_icon.png" alt="#" />
                      </div>
                   </div>
                </div>

              </div>
            </div>
         </div>
         <!-- end section -->


{% endblock %}
